section.first-screen 
  div.first-screen__content
    h1 GameFi short video platform
    span Watch. Play. Earn
  
  div.socials
    a.socials__item(href='#' target='_blank')
      img(src=require('../images/socials/item-1.svg') alt='#')
    a.socials__item(href='#' target='_blank')
      img(src=require('../images/socials/item-2.svg') alt='#')
    a.socials__item(href='#' target='_blank')
      img(src=require('../images/socials/item-3.svg') alt='#')
    a.socials__item(href='#' target='_blank')
      img(src=require('../images/socials/item-4.svg') alt='#')
    a.socials__item(href='#' target='_blank')
      img(src=require('../images/socials/item-5.svg') alt='#')
    a.socials__item(href='#' target='_blank')
      img(src=require('../images/socials/item-6.svg') alt='#')
