header.header 
  div.header__logo
    img(src=require("../images/logo.svg"), alt="LOGO")
  
  nav.menu
    a.menu__item(href="#") About us
    a.menu__item(href="#") Roadmap
    a.menu__item(href="#") Documents
    a.menu__item(href="#") F.A.Q.
    a.menu__item.menu__item--extra(href="#") Buy NFT glasses
  
  div.currency
    a.currency__item(href="#")
      div.currency__img
        img(src=require("../images/cheel-logo.png"), alt="CHEEL LOGO")
      div.currency__info
        span.currency__name CHEEL
        strong.currency__price $8,00
    a.currency__item(href="#")
      div.currency__img
        img(src=require("../images/lee-logo.png"), alt="LEE LOGO")
      div.currency__info
        span.currency__name LEE
        strong.currency__price $8,00
  
  div.header__audit
    img(src=require('../images/audit.svg'), alt="AUDIT")
  
  div.header__lang
    select#lang.select
      each option in ['EN', 'RU', 'ES']
        option(value=option)=option