$text-color: #fcfcfd;
$text-color-gray: #5e636e;
$accent-color: #01ffc2;
$bg-color: #140132;
$bg-color-light: #7156fd33;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $text-color;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px 80px;
  background: $bg-color;
  color: $text-color;

  &__logo {
    width: 92px;
    height: 58px;
  }

  &__audit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 22px;
    border-radius: 30px;
    background: $bg-color-light;

    img {
      width: 133px;
      height: 34px;
      object-fit: contain;
      object-position: center;
    }
  }

  &__lang {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    width: 40px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &::after {
      content: "";
      width: 10px;
      height: 5px;
      margin-left: -20px;
      background-color: $text-color-gray;
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      transition: background-color 0.3s ease-in-out;
    }

    select {
      appearance: none;
      background-color: transparent;
      color: $text-color-gray;
      border: none;
      cursor: pointer;
      outline: none;
      width: 100%;
      transition: color 0.3s ease-in-out;
    }
  }
}

.menu {
  display: flex;
  gap: 36px;
  margin: auto;

  &__item {
    font-weight: 400;
    color: $text-color-gray;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $text-color;
      transition: none;
    }

    &--extra {
      font-size: 16px;
      font-weight: 700;
      color: $accent-color;
    }
  }
}

.currency {
  display: flex;
  align-items: center;
  gap: 20px;

  &__item {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__img {
    width: 30px;
    height: 30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    span {
      font-size: 8px;
      font-weight: 400;
    }

    strong {
      display: flex;
      align-items: center;
      gap: 2px;

      &::after {
        content: "";
        display: block;
        width: 7px;
        height: 5px;
        background: url("../images/up.svg") no-repeat center;
      }
    }
  }
}

.first-screen {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  padding: 0 80px;
  background: $bg-color url("../images/first-screen.png") no-repeat center;
  background-size: contain;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto 0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background: $bg-color-light;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.07);
    }
  }
}
